In [2]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import keras
import cv2
from keras.models import Sequential 
from keras.layers import Conv2D,MaxPooling2D, Dense,Flatten, Dropout
from keras.datasets import mnist 
import matplotlib.pyplot as plt
from keras.utils import np_utils

In [4]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [5]:
display(train.info())
display(test.info())
display(train.head(n = 2))
display(test.head(n = 2))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27455 entries, 0 to 27454
Columns: 785 entries, label to pixel784
dtypes: int64(785)
memory usage: 164.4 MB

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7172 entries, 0 to 7171
Columns: 785 entries, label to pixel784
dtypes: int64(785)
memory usage: 43.0 MB

None

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,3,107,118,127,134,139,143,146,150,153,...,207,207,207,207,206,206,206,204,203,202
1,6,155,157,156,156,156,157,156,158,158,...,69,149,128,87,94,163,175,103,135,149

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
0,6,149,149,150,150,150,151,151,150,151,...,138,148,127,89,82,96,106,112,120,107
1,5,126,128,131,132,133,134,135,135,136,...,47,104,194,183,186,184,184,184,182,180

In [6]:
y_train = train['label'].values
y_test = test['label'].values

X_train = train.drop(['label'],axis=1)
X_test = test.drop(['label'], axis=1)

X_train = np.array(X_train.iloc[:,:])
X_train = np.array([np.reshape(i, (28,28)) for i in X_train])

X_test = np.array(X_test.iloc[:,:])
X_test = np.array([np.reshape(i, (28,28)) for i in X_test])

num_classes = 26
y_train = np.array(y_train).reshape(-1)
y_test = np.array(y_test).reshape(-1)

y_train = np.eye(num_classes)[y_train]
y_test = np.eye(num_classes)[y_test]

In [7]:
X_train = X_train.reshape((27455, 28, 28, 1))
X_test = X_test.reshape((7172, 28, 28, 1))

In [8]:
classifier = Sequential()
classifier.add(Conv2D(filters=8, kernel_size=(3,3),strides=(1,1),padding='same',input_shape=(28,28,1),activation='relu', data_format='channels_last'))
classifier.add(MaxPooling2D(pool_size=(2,2)))
classifier.add(Conv2D(filters=16, kernel_size=(3,3),strides=(1,1),padding='same',activation='relu'))
classifier.add(Dropout(0.5))
classifier.add(MaxPooling2D(pool_size=(4,4)))
classifier.add(Dense(128, activation='relu'))
classifier.add(Flatten())
classifier.add(Dense(26, activation='softmax'))
classifier.compile(optimizer='SGD', loss='categorical_crossentropy', metrics=['accuracy'])

In [9]:
classifier.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])
classifier.fit(X_train, y_train, epochs=50, batch_size=100)

Epoch 1/50
275/275 [==============================] - 4s 14ms/step - loss: 1.5630 - accuracy: 0.5734
Epoch 2/50
275/275 [==============================] - 4s 14ms/step - loss: 0.3726 - accuracy: 0.8735
Epoch 3/50
275/275 [==============================] - 4s 16ms/step - loss: 0.2237 - accuracy: 0.9233
Epoch 4/50
275/275 [==============================] - 4s 15ms/step - loss: 0.1508 - accuracy: 0.9492
Epoch 5/50
275/275 [==============================] - 4s 14ms/step - loss: 0.1248 - accuracy: 0.9566
Epoch 6/50
275/275 [==============================] - 4s 14ms/step - loss: 0.1097 - accuracy: 0.9626
Epoch 7/50
275/275 [==============================] - 4s 14ms/step - loss: 0.0863 - accuracy: 0.9695
Epoch 8/50
275/275 [==============================] - 4s 14ms/step - loss: 0.0820 - accuracy: 0.9722
Epoch 9/50
275/275 [==============================] - 4s 14ms/step - loss: 0.0716 - accuracy: 0.9753
Epoch 10/50
275/275 [==============================] - 4s 14ms/step - loss: 0.0538 - accuracy: 0.9822
Epoch 11/50
275/275 [==============================] - 4s 14ms/step - loss: 0.0628 - accuracy: 0.9789
Epoch 12/50
275/275 [==============================] - 4s 14ms/step - loss: 0.0689 - accuracy: 0.9767
Epoch 13/50
275/275 [==============================] - 4s 14ms/step - loss: 0.0533 - accuracy: 0.9825
Epoch 14/50
275/275 [==============================] - 4s 14ms/step - loss: 0.0538 - accuracy: 0.9820
Epoch 15/50
275/275 [==============================] - 4s 14ms/step - loss: 0.0478 - accuracy: 0.9839
Epoch 16/50
275/275 [==============================] - 4s 15ms/step - loss: 0.0499 - accuracy: 0.9834
Epoch 17/50
275/275 [==============================] - 4s 14ms/step - loss: 0.0532 - accuracy: 0.9825
Epoch 18/50
275/275 [==============================] - 4s 14ms/step - loss: 0.0547 - accuracy: 0.9810
Epoch 19/50
275/275 [==============================] - 4s 14ms/step - loss: 0.0388 - accuracy: 0.9867
Epoch 20/50
275/275 [==============================] - 4s 14ms/step - loss: 0.0412 - accuracy: 0.9866
Epoch 21/50
275/275 [==============================] - 4s 15ms/step - loss: 0.0442 - accuracy: 0.9862
Epoch 22/50
275/275 [==============================] - 4s 15ms/step - loss: 0.0451 - accuracy: 0.9849
Epoch 23/50
275/275 [==============================] - 4s 14ms/step - loss: 0.0341 - accuracy: 0.9895
Epoch 24/50
275/275 [==============================] - 4s 14ms/step - loss: 0.0404 - accuracy: 0.9866
Epoch 25/50
275/275 [==============================] - 4s 14ms/step - loss: 0.0441 - accuracy: 0.9855
Epoch 26/50
275/275 [==============================] - 4s 15ms/step - loss: 0.0396 - accuracy: 0.9867
Epoch 27/50
275/275 [==============================] - 4s 15ms/step - loss: 0.0416 - accuracy: 0.9854
Epoch 28/50
275/275 [==============================] - 5s 17ms/step - loss: 0.0357 - accuracy: 0.9889
Epoch 29/50
275/275 [==============================] - 4s 15ms/step - loss: 0.0332 - accuracy: 0.9890
Epoch 30/50
275/275 [==============================] - 4s 14ms/step - loss: 0.0315 - accuracy: 0.9901
Epoch 31/50
275/275 [==============================] - 4s 15ms/step - loss: 0.0334 - accuracy: 0.9892
Epoch 32/50
275/275 [==============================] - 4s 15ms/step - loss: 0.0396 - accuracy: 0.9877
Epoch 33/50
275/275 [==============================] - 4s 15ms/step - loss: 0.0348 - accuracy: 0.9891
Epoch 34/50
275/275 [==============================] - 4s 15ms/step - loss: 0.0372 - accuracy: 0.9891
Epoch 35/50
275/275 [==============================] - 4s 15ms/step - loss: 0.0352 - accuracy: 0.9891
Epoch 36/50
275/275 [==============================] - 4s 15ms/step - loss: 0.0322 - accuracy: 0.9899
Epoch 37/50
275/275 [==============================] - 4s 15ms/step - loss: 0.0327 - accuracy: 0.9891
Epoch 38/50
275/275 [==============================] - 4s 15ms/step - loss: 0.0322 - accuracy: 0.9891
Epoch 39/50
275/275 [==============================] - 4s 15ms/step - loss: 0.0307 - accuracy: 0.9907
Epoch 40/50
275/275 [==============================] - 4s 15ms/step - loss: 0.0309 - accuracy: 0.9909
Epoch 41/50
275/275 [==============================] - 4s 15ms/step - loss: 0.0253 - accuracy: 0.9919
Epoch 42/50
275/275 [==============================] - 4s 15ms/step - loss: 0.0273 - accuracy: 0.9913
Epoch 43/50
275/275 [==============================] - 4s 15ms/step - loss: 0.0317 - accuracy: 0.9897
Epoch 44/50
275/275 [==============================] - 5s 17ms/step - loss: 0.0298 - accuracy: 0.9906
Epoch 45/50
275/275 [==============================] - 4s 16ms/step - loss: 0.0250 - accuracy: 0.9913
Epoch 46/50
275/275 [==============================] - 4s 14ms/step - loss: 0.0287 - accuracy: 0.9909
Epoch 47/50
275/275 [==============================] - 4s 15ms/step - loss: 0.0217 - accuracy: 0.9932
Epoch 48/50
275/275 [==============================] - 4s 15ms/step - loss: 0.0322 - accuracy: 0.9909
Epoch 49/50
275/275 [==============================] - 4s 15ms/step - loss: 0.0334 - accuracy: 0.9894
Epoch 50/50
275/275 [==============================] - 4s 15ms/step - loss: 0.0237 - accuracy: 0.9928

In [10]:
accuracy = classifier.evaluate(x=X_test,y=y_test,batch_size=32)
print("Accuracy: ",accuracy[1])

225/225 [==============================] - 1s 3ms/step - loss: 0.2053 - accuracy: 0.9532
Accuracy:  0.9531511664390564

In [11]:
classifier.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d (Conv2D)             (None, 28, 28, 8)         80

 max_pooling2d (MaxPooling2D  (None, 14, 14, 8)        0
 )

 conv2d_1 (Conv2D)           (None, 14, 14, 16)        1168

 dropout (Dropout)           (None, 14, 14, 16)        0

 max_pooling2d_1 (MaxPooling  (None, 3, 3, 16)         0
 2D)

 dense (Dense)               (None, 3, 3, 128)         2176

 flatten (Flatten)           (None, 1152)              0

 dense_1 (Dense)             (None, 26)                29978

=================================================================
Total params: 33,402
Trainable params: 33,402
Non-trainable params: 0
_________________________________________________________________

In [13]:
classifier.save('CNNmodel.h5')